@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
	--pink:#D72F83;
    --green:#0f5dfa;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
	width: 1rem;
}

html::-webkit-scrollbar-track{
	background: transparent;
}

html::-webkit-scrollbar-thumb{
	background: var(--black);
}

section {
	padding: 5rem 9%;
}

.heading { 
	text-align: center;
	margin-bottom: 2rem;
	position: relative;

}

.heading::before{
	content: '';
	position: absolute;
	top: 50%; left: 0;
	transform: translateY(-50%);
	width: 100%;
	height: .01rem;
	background: rgba(0, 0, 0, .1);
	z-index: -1;

}

.heading span{
	font-size: 3rem;
	padding: .5rem 2rem;
	color: var(--black);
	background: ##f0f8ff;
	border: var(--border);
}

.btn{
	margin-top: 2rem;
	display: inline-block;
	padding:.9rem 3rem;
	border-radius: .5rem;
	color:#fff;
	background: var(--black);
	cursor:pointer;
	font-size: 1.7rem;
	font-weight: 500;
}

.btn:hover{
	background: var(--pink);

}

.header .header-1 {
	background: #f0f8ff ;
	padding: 2.5rem 11%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .header-1 .logo{
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}

.header .header-1 .logo i {
	color: var(--green);

}
.header .header-1 .search-form{
	width: 50rem;
	height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display:flex ;
    align-items: center;
    border-radius: .5rem;

}

.header .header-1 .search-form input{
	font-size: 1.5rem;
	padding: 0 1.3rem;
	height: 100%;
	width: 100%;
	text-transform: none;
	color: var(--black);
}	

.header .header-1 .search-form label{
	font-size: 2.5rem;
	padding-right: 1.3rem;
	color: var(--black);
	cursor: pointer;
}

.header .header-1 .search-form label:hover {
	color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
	font-size: 2.5rem;
	margin-left: 1.5rem;
	color: var(--black);
	cursor: pointer;

}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
	color:var(--pink);
}	
 
#search-btn {
	display: none;

}

.header .header-2 {
	background: var(--green);
}

.header .header-2 .navbar{
	text-align:center;

}

.header .header-2 .navbar a{
	color: #f0f8ff;
	display:inline-block;
    padding: 1.2rem;
    font-size: 1.8rem;
}

.header .header-2 .navbar a:hover{
	background: var(--pink);
}	

.header .header-2.active{
	position:fixed;
	top:0; left:0; right:0;
	z-index:1000;
}  


.bottom-navbar{
	text-align: center;
	background: var(--green);
	position: fixed;
	bottom: 0;right: 0;left: 0;
	z-index: 1500;
	display: none;

}

.bottom-navbar a{
	font-size:2.5rem;
	padding: 2rem;
	color: #f0f8ff ;
}

.bottom-navbar a:hover{
	background: var(--dark-color);
}	

.login-form-container{
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255,255,255,9);
	position: fixed;
	top: 0; right:-105%;
	z-index: 10000;
	height:100%;
	width: 100%;
}

.login-form-container .active{
	right: 0; 
}



.login-form-container form{
	background:#fff;
	border: var(--border);
	width: 40rem;
	padding: 2rem;
	box-shadow: var(--box-shadow);
	border-radius: .5rem;
	margin: 2rem;

}


.login-form-container form h3{
	font-size:2.5rem;
	text-transform: uppercase;
	color: var(--black);
	text-align: center;

}	

.login-form-container form span{
	display: block; 
	font-size: 1.5rem;
	padding-top: 1rem;

}

.login-form-container form .box{
	width: 100%;
	margin: .7rem 0;
	front-size: 1.6rem;
	border: var(--border);
	border-radius: .5rem;
	padding: 1rem 1.2rem;
	color: var(--black);
	text-transform: none;
}

.login-form-container form .checkbox{
	display: flex;
	align-items: center;
	gap: .5em;
	padding: 1rem 0;

}

.login-form-container form .checkbox label{
	font-size:1.5rem;
	color: var(--light-color);
	cursor: pointer;
}

.login-form-container form .btn{
	text-align: center;
	width: 100%;
	margin: 1.5rem 0;


}

.login-form-container form p{
	padding-top:.8rem;
	color: var(--dark);
	font-size: 1.5rem;

}

.login-form-container form p a {
	color: var(--green);
	text-decoration: underline;
}

.login-form-container #close-login-btn{ 
	position: absolute;
	top:1.5rem; right:2.5rem;
	font-size: 5rem;
	color: var(--black);
    cursor: pointer;

}

.icons-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
	gap: 1.5rem;

}

.icons-container .icons {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 2rem 0;
}

.icons-container .icons i{
	font-size: 3.5rem;
	color: var(--black);
}

.icons-container .icons h3{
	font-size: 2.2rem;
	color: var(--black);
	padding-bottom: .5rem;
}

.icons-container .icons p{
	font-size: 1.4rem;
	color: var(--green);
}

.featured .featured-slider .box{
	width: 25rem;
	margin: 2rem 0;
	position: relative;
	overflow: hidden;
	border: var(--border);
	text-align: center;
}

.featured .featured-slider .box:hover{
	border: var(--border-hover);

}

.featured .featured-slider .box .image{
	padding: 1rem;
	background: linear-gradient(15deg,#F0D3C9 30%, #C9F0E7 30.1% );

}	

.featured .featured-slider .box:hover .image{
	transform: translateY(5rem);
} 

.featured .featured-slider .box .image img{
	height: 25rem;

}

.featured .featured-slider .box .icons {
	border-bottom: var(--border-hover);
	position: absolute;
	top: 0; left: 0 ; right: 0;
	background: #f0f8ff;
	z-index: 1;
	transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icons {
	transform: translateY(0%);


}

.featured .featured-slider .box .icons a{
	color: var(--black);
	font-size: 2.2rem;
	padding: 1.2rem 1.5rem;

}

.featured .featured-slider .box .icons a:hover{
	background: var(--green);
	color: #f0f8ff;
}	

.featured .featured-slider .box .content{
	background: #eee;
	padding: 1.5rem;
}

.featured .featured-slider .box .content h3{
	font-size: 2rem;
	color: var(--black);


}

.featured .featured-slider .box .content .price{
	font-size: 2.2rem;
	color: var(--black);
	padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
	font-size: 1.5rem;
	color:var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
	border: var(--border-hover);
	height: 4rem;
	width: 4rem;
	color: var(--black);
	background: #ffff;
}

.swiper-button-next:after,
.swiper-button-prev:after{
	font-size: 2rem;
}	

.swiper-button-next:hover,
.swiper-button-prev:hover{
	background: var(--green);
	color: #f0f8ff;
}	

.newsletters {
	background: url(../pictures/home.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;



}
	
.newsletter {
	background: url(../pictures/bookhere.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


}

.newsletters form{
	max-width: 100%;
	margin: 4rem;
	padding:8.20rem 10.4rem;
	font-size: 1.6rem;
    text-align: center;
   

}

.newsletter form{
	max-width: 100%;
    margin-right: auto;
    text-align: center;
    padding:5rem 0;

}

.newsletters form h1 {
	font-weight: bolder;
	font-size: 4.3rem;
	color: #f0f8ff;
	padding-bottom: .6rem;
	font-weight: normal;
}

.newsletter form h2 {
	
	font-size: 2.2rem;
	color: #f0f8ff;
	padding-bottom: .5rem;
	font-weight: normal;
}

.newsletter form .box{
	width: 300px;
	margin: 2rem ;
	padding:0.7rem 1.2rem;
	font-size: 1.6rem;
	color: var(--black);
	border-radius: .5rem;

}


.newsletters form p{
	
	text-align: center;
	font-size: 1.6rem;
	color:#f0f8ff;
	

}

.arrivals .arrivals-slider .box{
	
	
	display:flex;
	align-items: center;
	gap: 1.5rem;
	padding:2rem 1rem;
	border: var(--border);
	margin: 1rem 0;

}

.arrivals .arrivals-slider .box:hover{
	border: var(--border-hover);

}

.arrivals .arrivals-slider .box .image img{
	height: 15rem;

}

.arrivals .arrivals-slider .box .image .content h3{
	font-size: 2rem;
	color: var(--black);

}

.arrivals .arrivals-slider .box .content .price{
	font-size: 2.2rem;
	color: var(--black);
	padding-bottom: .5rem;
}
.arrivals .arrivals-slider .box .content .stars i{
	font-size: 1.5rem;
	color: var(--pink);
}

.deal{
	background: #f3f3f3;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1,5rem;

}
.deal .content{
	flex:1 1 42rem;

}

.deal .image{
	flex:1 1 42rem;
	
}

.deal .image img{
	width: 100%;
	
}

.deal .content h3{
	color: var(--pink);
	font-size: 2.5rem;
	padding-bottom: .5rem;

}

.deal .content h1{
	color: var(--black);
	font-size: 4rem;

}

.deal .content p{
	color: var(--light-color);
	font-size: 1.4rem;
	line-height: 2;

}	
	
.reviews .reviews-slider .box{
	border: var(--border);
	padding: 2rem;
	text-align: center;
	margin: 2rem 0;

}	

.reviews .reviews-slider .box:hover{
	border: var(--border-hover);
}

.reviews .reviews-slider .box img{
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	object-fit:cover;
} 	

.reviews .reviews-slider .box h3{
	color: var(--black);
	font-size: 2.2rem;
	padding: .5rem 0;
}	

.reviews .reviews-slider .box p{
	color: var(--light-color);
	font-size: 1.2rem;
	padding: 1rem 0;
	line-height: 2;
}	

.reviews .reviews-slider .box .stars i{
	font-size: 1.6rem;
	color: var(--pink);
}	

.blogs .blogs-slider .box{
	margin:  2rem 0;
	width: 30rem;
	border: var(--border);

}

.blogs .blogs-slider .box:hover{
	border: var(--border-hover);

}

.blogs .blogs-slider .box .image{
	 height: 25rem;
	 width: 100%;
	 overflow: hidden;
}

.blogs .blogs-slider .box.image img{
	 height: 100%;
	 width: 100%;
	 object-fit:cover
}	 

.blogs .blogs-slider .box:hover .image img{
	transform: scale(1.1);
}	

.blogs .blogs-slider .box .content{
	padding: 1.5rem;
}

.blogs .blogs-slider .box .content h3{
	font-size: 2.2rem;
	color: var(--black);
	
}

.blogs .blogs-slider .box .content p{
	font-size: 1.4rem;
	color: var(--light-color);
	padding: 1rem 0;
	line-height: 2;
}	

.footer .box-container {
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
	gap: 1.1rem;
	margin: 2rem 0;
}

.footer .box-container .box h3{
	font-size: 2.2rem;
	color: var(--black);
	padding: 1rem 0;

}	
.footer .box-container .box a{
	display: block;
    font-size: 1.4rem;	
    color: var(--light-color); 
    padding: 1rem 0;

}	

.footer .box-container .box a i{
	color: var(--pink);
    padding-right: .5rem;
	
}

.footer .box-container .box a:hover i{
	padding-right: .1rem;
}	

.footer .terms h3{
	margin-top:10rem;
	font-size:2.0rem;
	color: var(--black); 
	padding: 1rem 0;
}
.footer .terms p{
	font-size: 1.2rem;
	color: var(--light-color);
}

.footer .disclaimer h3{
	font-size:2.0rem;
	color: var(--black);
	padding: 1rem 0;
	margin-top: 4rem;
}
.disclaimer p{
	font-size:1.2rem;
	color: var(--light-color);
	margin-bottom: 3rem;
}

.footer .share{
	margin-top: 4rem;
	border-top: var(--border);
	padding: 1rem 0;
	text-align: center;
}


.footer .share a{
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	font-size: 3rem;
	color: #fff;
	background: var(--black);
	margin-top: 3rem;
	border-radius: 50%;

}

.footer .share a:hover{
	background: var(--pink);

}

.footer .credit{
	text-align: center;
	border-top: var(--border);
	margin-top: 3rem;
	padding: 0.1rem;
	padding-top: 2.5rem;
	font-size: 2rem;
	color:var(--light-color);
}

.footer .credit span {
	color: var(--pink);
}

.loader-container {
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	z-index: 10000;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
}


.loader-container.active{
	display:none;

}

.loader-container img{
	height: 16rem;

}	








































































 


























/* media querries */

@media (max-width:991px){

	html{
        font-size: 55%;
   
    }   

    .header .header-1 {
    	padding: 2rem;
    }

    .section {
	padding: 2rem 2rem;
    }
}

@media (max-width: 768px){

	html{
		scroll-padding-top: 0;
	}

	body{
		padding-bottom: 6rem;
	}

	.header .header-2{
		display: none;
	}
	.bottom-navbar{
		display:block;

	}

	#search-btn{
		display: inline-block;
	}

	.header .header-1 {
		box-shadow: var(--box-shadow);
		position: relative;
	}

	.header .header-1 .search-form{
		position: absolute;
		top: -110%; right:2rem;
		width: 90%;
		box-shadow: var(--box-shadow);
	}

	.header .header-1 .search-form .active{
		top:100%;
	}

    .newsletter{
    	background-position:left ;
    }
    
    .newsletters form {
    	margin: 0;
    	max-width: 100%;
    }
   
    .newsletter form{
    	margin: 0;
    	max-width: 100%;
    }	


		
}

@media (max-width: 450px){

	html{
        font-size: 50%;
    }
    

    .header .header-1 {
    	padding: 2rem;
    }
}













